.searchbar{
width: 100%;
margin-bottom: 32px;

}

.searchbar-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchbar-input{
    width: 100%;
    height: auto;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    padding-right: 2.5rem;
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.search-button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: grey; 
    cursor: pointer;
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
}
@media (max-width:640px){
    .searchbar-input{
            font-size: 0.875rem;
            padding: 0.5rem 0.75rem;
            padding-right: 2rem;
          
        
    }
}


.search-button:hover{
    color: darkgoldenrod;
}

.search-only{
    font-size:15px;
}